.galleryPage {
    margin-top:50px;
    padding: 40px 20px;
    font-family: 'Dancing Script', cursive;
    color: #c8b8a6;
  }
  
  .title {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 30px;
  }
.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.galleryItem {
  position: relative;
  overflow: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(200, 184, 166, 0.3); /* Light border */
  border-top: 4px solid #c8b8a6; /* Accent color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
