apiVersion: apps/v1
kind: Deployment
metadata:
  name: wedding-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: wedding-web
  template:
    metadata:
      labels:
        app: wedding-web
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: nginx
          image: ghcr.io/totsylol/my-wedding:main   # use 'main' tag which exists
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: wedding-svc
spec:
  selector:
    app: wedding-web
  ports:
    - port: 80
      targetPort: 80
